<!DOCTYPE html>
<HTML>
    <meta charset="utf-8">
           <meta name="viewport" content="width=device-width",user-scalable="no">
           <!---Bootstrap CSS. This link come from COMP2011-->
           <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"  crossorigin="anonymous">
	<head>
        <div class = "w-10">
            <div class = 'col-9 col-sm-9'>
             <h1>Online Library</h1></div></div>
     </head> 
 <body>       
   </head>
   <div class="container">
    <div class="row">
    </div>
 </div>
 <div class="container">
  <div class="row">
    <div class="col align-self-start">
      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
          Book Classification
        </button>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left mb-3">
      <button class="dropdown-item" type="button"><a href="/Comp2711">COMP2711 Algorithm</a></button>
      <button class="dropdown-item" type="button"><a href="/Comp2421">COMP2421 Numerical Computation</a></button>
      <button class="dropdown-item" type="button"><a href="/Comp2912">COMP2912 Software Engineering</a></button>
      <button class="dropdown-item" type="button"><a href="/Comp2811">COMP2811 User Interface</a></button>
    </div>
  </div>
</div>
    <div class="col-10">
      <div class="card mb-1">
      <div class="card-img-top"></div>
      <div class="card-body">
        <p class="card-text">Hi<small class="text-muted">
        </small>
      </p>
      <p class="card-text">My favority Books<small class="text-muted">
      </small>
    </p>
    {%block content%}
    <body>
      {%for s in NSs%}
      <p>
        <form action="/delete-favor" method="post">
          <input type="hidden" for = "id" name="id" value="{{ s.id }}"/><br>
          <p for = "Booksname">{{ s.Booksname }}</p><br>
          <p for = "Bookauthor">{{ s.Bookauthor }}</p><br>
          <input type="submit" value="delete">
        </form>
      
      </p>
{% endfor %}
{% endblock %}
     
      
  
  </body>
  <form action="/logout" method="post">
      <p class="card-text"><small class="text-muted"><input type="submit" value="logout" ></a></small></p>
  </form>
      </div>
      </div>
    </div>
  </div>
 </div>
 </body>


 <body>

  <!--previous code here-->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
 


</html>


              