<!Doctype HTML>
<HTML>
    <meta charset="utf-8">
           <meta name="viewport" content="width=device-width",user-scalable="no">
           <!---Bootstrap CSS. This link come from COMP2011-->
           <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"  crossorigin="anonymous">
	<head>
        <div class = "w-10">
            <div class = 'col-9 col-sm-9'>
             <h1>Comp2421 Numerical Computation</h1></div></div>
     </head>
     <div class="container">
    <div class="row">
    <div class="col">
       <li><a href="/booklist">Home</a></li>
    </div>
    </div>
 </div>
 <div class="container">
  <div class="row">
    <div class="col align-self-start">
      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
          Book Classification
        </button>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left mb-3">
      <button class="dropdown-item" type="button"><a href="/Comp2711">COMP2711 Algorithm</a></button>
      <button class="dropdown-item" type="button"><a href="/Comp2421">COMP2421 Numerical Computation</a></button>
      <button class="dropdown-item" type="button"><a href="/Comp2912">COMP2912 Software Engineering</a></button>
      <button class="dropdown-item" type="button"><a href="/Comp2811">COMP2811 User Interface</a></button>
    </div>
  </div>
</div>
  </div>
  <form action="/add-favor" method="post" name="NS1">
  <body>
    <div class="container">
      <div class="col-10">
        <div class="card mb-1">
        <div class="card-img-top">Books</div>
        <div class="card-body">
    <h1 class="card-title">{{ Booksname.name }}!</h1>
    <p class="card-text"><div class="text-center">
      <img src="/static/index2.jpg">
    </div>
  </p>
    <h2 class="card-text"><small class="text-muted">{{ Bookauthor.name }}!</h2>
      <p class="card-text"><small class="text-muted"><a href="https://leeds.alma.exlibrisgroup.com/leganto/public/44LEE_INST/citation/12883833810005181?auth=SAML" >click on the link to view the book</a></small></p>
      <p><input type="submit" value="collect" ></p>
      <input type="hidden" name="Booksname" value="{{ Booksname.name }}"/>
      <input type="hidden" name="Bookauthor" value="{{ Bookauthor.name }}"/>
        </div>
        </div>
      </div>
    </div>
  </body>
  </form>
  </div>

 
    <body>

      <!--previous code here-->
    
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </body>
